<div class='container-fluid'>
	<div class='row'>
		<div class='col-lg-12'>
			<h1> Boilerplate do Bootstap - Pedro Hash</h1>
			<p> Este é um template to boostrap construido por Pedro Hash, com Harp, Less, Css, Ejs e Html</p>
			<p>-- Feito no Brasil --</p>
			<p style='font-size: 8px;'>Créditos a Matt Lambert pela criação inicial do template</p>
		</div>
	</div>
</div>